<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><% notice %></p>
<table>
<tbody>
	<% if current_user %>
      <tr>
          <td><%= link_to 'Add New Article', new_article_path %></td>
          <td><%= link_to 'Edit Account', edit_user_registration_path %></td>
          <td><%= link_to 'Log Out', destroy_user_session_path, method: :get, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
      <% else %>
          <td><%= link_to 'Sign In', user_session_path %></td>
          <td><%= link_to 'Sign Up', new_user_session_path %></td>
      <% end %>
  </tbody>
</table>
<%= yield %>

</body>
</html>
